[user]
	name = Somto
	email = smugeh@gmail.com

[pull]
	rebase = true
[branch]
	autosetuprebase = always
[alias]
	a = add
	c = commit
	p = push
	l = log
	rh = reset --hard HEAD
	b = checkout -b
	co = checkout
	ca = commit -a --verbose
	cp = cherry-pick
	amend = commit -a --amend --no-edit
	undo = reset --soft HEAD^
	cdiff = "!git diff $1 $1^"
[push]
	default = current
	autoSetupRemote = true
[core]
	pager = delta
	excludesfile = ~/.gitignore_global
	ignorecase = false
[interactive]
	diffFilter = delta --color-only
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[delta]
	navigate = true
	dark = true
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
	autoUpdate = true
[rebase]
	autoStash = true
	autoSquash = true
[fetch]
	prune = true
	pruneTags = true
[diff]
	algorithm = histogram
	colorMoved = default
[init]
	defaultBranch = main
[column]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
